<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thomas.core.demo">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.demo.VibrateDemoActivity"
            android:label="@string/title_activity_vibrate_demo"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.demo.AppDemoActivity"
            android:label="@string/title_activity_app_demo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.demo.AdaptDemoActivity"
            android:label="@string/title_activity_adapt_demo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.demo.ActivityDemoActivity"
            android:label="@string/title_activity_demo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>